body{
    background-color:rgba(0, 0, 255, 0.63)
    }
    
    h1{
        color: ;
        font-family: ;
        background: ;
        text-align: center;
     }
     p{
        color: ;
        font-family: ;
        font-size: ;
        background: ;
        text-align: center;
    }
    <p2>{
        color: red;
        font-family: ;
        font-size: ;
        background: ;
        text-align: center;
    }